body{
    background-color: rgb(223, 182, 219)
}
div{
    background-color: rgb(99, 11, 188);
}
span{
    background-color: bisque;
}
#firstdiv{
    background-color: red;
}
.red{
    background-color: blue;
}
.red{
    color: yellow;
}
.Gunashekhar{
    color: rgb(69, 251, 53);
}
#seconddiv{
    background-color: rgb(32, 10, 197);
}
